.title {
  background: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 4rem !important;
  line-height: 6.5rem !important;
  color: white !important;
}

h3 {
  font-family: 'Montserrat', sans-serif !important;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% !important;
}

.navbar {
  padding-bottom: 6.5rem !important;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 2.5rem !important;
}

.nav-item {
  padding: 0 30px !important;
  font-size: 1.3rem !important;
}

.down-btn {
  margin: 5% 3% 5% 0 !important;
}

.title-img {
  width: 20%;
  transform: rotate(25deg) !important;
  position: absolute;
  right: 20%;
}
@media (min-width:995px) and (max-width:1455px)  {
  .title-img {
    position: absolute;
    width:26%;
    right: 10%;
  }

}

@media (max-width:995px)  {
  .title-img {
    position: static;
    width:60%;
  }
  .img-media{
    text-align: center;
  }
  .container-fluid {
    padding: 3% 7% !important;
  }


}

#features {
  padding: 7% 15% !important;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 3rem;
}

.icon:hover {
  color: orange;
}

/* testimonials */
#testimonials {
  text-align: center;
  color: #fff;
  background: #ef8172;
}

h2 {
  font-size: 3rem !important;
  line-height: 4.5rem !important;
  font-family: "Montserrat";
}

.tem-img {
  width: 150px;
  border-radius: 100%;
  margin: 40px 30px 40px 40px;
}

/*press  */
#press {
  background: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.prss-img {
  width: 12%;
  margin: 20px 30px 50px;
}

.carousel-item {
  padding: 5% 15%;
}

#pricing {
  text-align: center;
  margin: 3% 10%;
}

.card {
  margin: 10px;
}

#cta {
  background: #ff4c68;
  padding: 70px 70px 10px 70px;
  text-align: center;
}

.cts {
  width: 50%;
  margin: auto;
}

.h3-color {
  color: #fff !important;
  font-size: 3rem !important;
  line-height: 4.5rem !important;
}

#footer {
  padding: 20px;
  text-align: center;
}
