

#title{
  background: #ff4c68;
}


h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 4rem !important;
  line-height:5.5rem !important;
}

.container-fluid{
  padding: 3% 15% !important;
}
